{% extends "layout.html" %}
{% block content %}
<div class="container">
  <form method="POST" action="">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.email.label(class="form-control-label") }}
      {{ form.email(class="form-control") }}
      {% if form.email.errors %}
      {% for error in form.email.errors %}
      <span class="danger">{{ error }}</span>
      {% endfor %}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.password.label(class="form-control-label") }}
      {{ form.password(class="form-control") }}
      {% if form.password.errors %}
      {% for error in form.password.errors %}
      <span class="danger">{{ error }}</span>
      {% endfor %}
      {% endif %}
    </div>
    <div class="form-check">
      {{ form.remember_me.label(class="form-check-label") }}
      {{ form.remember_me(class="form-check-input") }}
    </div>
    {{ form.submit(class="btn btn-outline-info") }}
  </form>
  <small class="text-muted">
    <a href="#" class="ml-2" >Forgot Password ?</a>
  </small>
  <small class="text-muted pt-5">
    Don't Have an Account ? <a href="{{ url_for('register') }}" class="ml-2" >Register Here</a>
  </small>
</div>
{% endblock content %}
