{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="card center" style="width: 18rem;">
  <img src="{{ url_for('static',filename='profile_pics/'+current_user.image_file) }}" class="card-img-top settings-img center img-fluid" alt="profile_pic">
  <div class="card-body">
    <h5 class="card-title center">{{ current_user.username }}</h5>
    <p class="card-text">Email: {{ current_user.email }}<br>Phone Number: {{ current_user.phone_number }}</p>
  </div>
</div>
  <form method="POST" action="" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.username.label(class="form-control-label") }}
      {{ form.username(class="form-control") }}
      {% if form.username.errors %}
      {% for error in form.username.errors %}
      <span class="danger">{{ error }}</span>
      {% endfor %}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.phone_number.label(class_="form-control-label") }}
      {{ form.phone_number(class="form-control") }}
      {% if form.phone_number.errors %}
      {% for error in form.phone_number.errors %}
      <span class="danger">{{ error }}</span>
      {% endfor %}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.image.label(class="form-control-label") }}
      {{ form.image(class="form-control") }}
      {% if form.image.errors %}
      {% for error in form.image.errors %}
      <span class="danger">{{ error }}</span>
      {% endfor %}
      {% endif %}
      {{ form.submit(class="btn btn-outline-info mt-2") }}
  </form>
  </div>
  {% endblock content %}
